wsdl/wymenu.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:Wsv2Controllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" name="Wsv2Controller" targetNamespace="urn:Wsv2Controllerwsdl">
<wsdl:message name="getPriceRequest">
<wsdl:part name="symbol" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="getPriceResponse">
<wsdl:part name="return" type="xsd:float"/>
</wsdl:message>
<wsdl:message name="baseDataDownRequest">
<wsdl:part name="cmd" type="xsd:string"/>
<wsdl:part name="strdata" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="baseDataDownResponse">
<wsdl:part name="return" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="dealSnRequest">
<wsdl:part name="cmd" type="xsd:string"/>
<wsdl:part name="strdata" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="dealSnResponse">
<wsdl:part name="return" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="getNewWnRequest">
<wsdl:part name="lastcode" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="getNewWnResponse">
<wsdl:part name="return" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="setWnResultRequest">
<wsdl:part name="currentcode" type="xsd:string"/>
<wsdl:part name="result" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="setWnResultResponse">
<wsdl:part name="return" type="xsd:int"/>
</wsdl:message>
<wsdl:portType name="Wsv2ControllerPortType">
<wsdl:operation name="getPrice">
<wsdl:documentation/>
<wsdl:input message="tns:getPriceRequest"/>
<wsdl:output message="tns:getPriceResponse"/>
</wsdl:operation>
<wsdl:operation name="baseDataDown">
<wsdl:documentation/>
<wsdl:input message="tns:baseDataDownRequest"/>
<wsdl:output message="tns:baseDataDownResponse"/>
</wsdl:operation>
<wsdl:operation name="dealSn">
<wsdl:documentation/>
<wsdl:input message="tns:dealSnRequest"/>
<wsdl:output message="tns:dealSnResponse"/>
</wsdl:operation>
<wsdl:operation name="getNewWn">
<wsdl:documentation/>
<wsdl:input message="tns:getNewWnRequest"/>
<wsdl:output message="tns:getNewWnResponse"/>
</wsdl:operation>
<wsdl:operation name="setWnResult">
<wsdl:documentation/>
<wsdl:input message="tns:setWnResultRequest"/>
<wsdl:output message="tns:setWnResultResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Wsv2ControllerBinding" type="tns:Wsv2ControllerPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getPrice">
<soap:operation soapAction="urn:Wsv2Controllerwsdl#getPrice" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="baseDataDown">
<soap:operation soapAction="urn:Wsv2Controllerwsdl#baseDataDown" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="dealSn">
<soap:operation soapAction="urn:Wsv2Controllerwsdl#dealSn" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getNewWn">
<soap:operation soapAction="urn:Wsv2Controllerwsdl#getNewWn" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="setWnResult">
<soap:operation soapAction="urn:Wsv2Controllerwsdl#setWnResult" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="urn:Wsv2Controllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Wsv2ControllerService">
<wsdl:port name="Wsv2ControllerPort" binding="tns:Wsv2ControllerBinding">
<soap:address location="http://menu.wymenu.com/wymenuv2/thinterface/wsv2/index/ws/1"/>
</wsdl:port>
</wsdl:service>
</definitions>